

body{
    border:25px solid black;
    text-align:Center;
}

#nav-bar{
    text-align:right;
    font-size:20px;
}

#nav-bar>ul>li{
    list-style: none;
}

.menu ul {
    margin:0;
    list-style:none;
    position:relative;
    padding:0;
    border:3px solid #111312;
}

.menu {
    font-family:'Open Sans', sans-serif;
    font-size:14px;
 }
 
 .menu ul ul {
    display:none;
 }
 
 .menu ul li:hover>ul {
    display:block;
 }

 .menu ul:after {
    content:"";
    clear:both;
    display:block;
 }
 
 .menu ul li {
    float:left;
    padding-top:10px;
    padding-bottom:7px;
    
 }
 
 .menu ul li:hover {
    background:#111312;
    border-bottom:3px solid #fff;
 }
 
 .menu ul li:hover a {
    color:#fff;
 }
 
 .menu ul li a {
    color:rgb(19, 18, 18);
    text-decoration:none;
 }
 
 .menu ul ul {
    background:#111312;
    padding:0;
    position:absolute;
    top:100%;
 }
 
 .menu ul ul li {
    float:none;
    position:relative;
 }
 
 .menu ul ul li a {
    padding:10px;
    color:#000;
    display:block;
 }
 
 .menu ul ul li a:hover {
    background:#111312;
    color:#fff;
 }
 
 .menu ul ul ul {
    position:absolute;
    left:100%;
    top:0;
    padding:0;
 }
 
 .menu ul ul ul li {
    float:none;
    border-top:1px solid #6b727c;
    border-bottom:1px solid pink;
    position:relative;
 }
 
 .menu ul ul ul li a {
    padding:10px;
    color:rgb(12, 12, 12);
    display:block;
 }
 
 .menu ul ul ul li a:hover {
    background:#95CEF1;
    color:#000;
 }
 
 .menu ul ul ul ul {
    position:absolute;
    left:100%;
    top:0;
 }
 
 .head {
    width:100%;
    height:50px;
    background:rgba(96, 219, 13, 0.103);
 }
 
 .foot {
    width:500px;
    height:200px;
    background:#123;
 }
 
 .menu>ul>li>a {
    border-right:2px solid white;
    display:block;
    padding-left:25px;
    padding-right:25px;
 }
 
 .menu>ul>li:last-child>a {
    border-right:0;
 }

#header {
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom:2px solid black;
    border-top:2px solid black;
}
#logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}

#form{
    text-align:center;
    align-items: center;
}

#email {
    width: 300px; 
    height: 20px; 
    border: 1px solid #999999; 
    padding: 5px;
 }


.btn-primary{
width: 20%;
height: 30px;
margin: 20px 0;
border: 0;
background-color: #f1c40f;
text-transform: capitalize;

}

#about {
text-align:center;
display: block;
flex-direction: column;
justify-content: center;
height:auto;
width:auto;
padding:5px;

}

#how-it-works{

text-align:center;

}

#footer {
text-align:right;
background:rgb(163, 157, 157);
font-size:20px;
margin-top: 5px;
display: flex;
justify-content: flex-end;
font-size: 0.9em;
color: #444;
}


.pricing{
display:flex;
flex-direction:column;
align-items: center;
text-align: left;
width: auto;
margin: 10px;
border: 1px solid #000;
border-radius: 3px;
font-size:24px;
justify-content: center;
}
.pricing>.level{
background-color: #ddd;
color: black;
padding: 15px 0;
width: 100%;
text-transform: uppercase;
font-weight: 700;
text-align:center;
}

.btn{
border: 0;
margin: 15px 0;
background-color: #f1c40f;
font-weight: 400;
display: inline-block;
text-align: center;
align-items: flex-start;
font-size:16px;
padding: 0 20px;
height: 40px;
}
.pricing>ol>li{
list-style:square;
}