

body{
    border:25px solid black;
    text-align:Center;
}

#nav-bar{
    text-align:right;
    font-size:20px;
}

#nav-bar>ul>li{
    list-style: none;
}

#header {
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}

#form{
    text-align:center;
    align-items: center;
}

#email {
    width: 300px; 
    height: 20px; 
    border: 1px solid #999999; 
    padding: 5px;
 }


.btn-primary{
width: 20%;
height: 30px;
margin: 20px 0;
border: 0;
background-color: #f1c40f;
text-transform: capitalize;

}

#about {
text-align:center;
display: block;
flex-direction: column;
justify-content: center;
height:auto;
width:auto;
padding:5px;

}

#how-it-works{

text-align:center;

}

#footer {
text-align:right;
background:rgb(163, 157, 157);
font-size:20px;
margin-top: 5px;
display: flex;
justify-content: flex-end;
font-size: 0.9em;
color: #444;
}


.pricing{
display:flex;
flex-direction:column;
align-items: center;
text-align: center;
width: auto;
margin: 10px;
border: 1px solid #000;
border-radius: 3px;
font-size:24px;
justify-content: center;
}
.pricing>.level{
background-color: #ddd;
color: black;
padding: 15px 0;
width: 100%;
text-transform: uppercase;
font-weight: 700;
text-align:center;
}

.btn{
border: 0;
margin: 15px 0;
background-color: #f1c40f;
font-weight: 400;
display: inline-block;
text-align: center;
align-items: flex-start;
font-size:16px;
padding: 0 20px;
height: 40px;
}
.pricing>ol>li{
list-style:square;
}